[submodule "src/SynaesthetiQ-LED-Library"]
	path = src/SynaesthetiQ-LED-Library
	url = ../SynaesthetiQ-LED-LIbrary.git
[submodule "src/SynaesthetiQ-audiocapture"]
	path = src/SynaesthetiQ-audiocapture
	url = ../SynaesthetiQ-audiocapture.git
[submodule "documentation"]
	path = documentation
	url = ../rt5-tp.github.io.git
[submodule "src/EnvelopeFollowing"]
	path = src/EnvelopeFollowing
	url = ../envelope_following.git
